body {
    background-color: #1C1C1C;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading .gif_loading {
    width: 300px;
    height: 300px;
}

.logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img_logo {
    width: 32%;
}

.nav_bar,.header_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_menu a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

ul li::marker {
    font-size: 0rem;
}
.header_icon{
    display: flex;
}
.bolinha {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 15px;
    padding: 10px;
}

.icon {
    width: 32px;
    height: 32px;
}

hr {
    color: #fff;
    width: 100%;
}

.container {
    width: 100%;
    margin-top: -1.5rem;
}

.contain {
    position: relative;
    float: left;
    width: 30%;
    margin-bottom: 27px;
    margin: 5px 10px 15px 2%;
}

.bloco {
    width: 100%;
    height: 450px;
    border: solid #363636;
    -webkit-filter: grayscale(0%);
    transition: 1s;
}

.bloco:hover {
    -webkit-filter: grayscale(100%);
}

.contain:hover .overlay {
    background: rgba(0, 0, 0, .7);
}

.button {
    position: absolute;
    margin-top: 10px;
    width: 100%;
    left: 0;
    top: 45%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button a {
    width: 100%;
    padding: 12px 48px;
    text-align: center;
    color: #fff;
    border: solid 2px #fff;
    z-index: 1;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bolder;
}

.contain:hover .button {
    opacity: 1;
}

footer{
    clear: both;
    height: 90px;
    background-color: #363636;
}